.bag {
  background: rgb(49, 49, 49);
  width: fit-content;
  border-radius: 0.3rem;
  text-align: center;
  position: fixed;
  top: 35%;
  right: 0;
  cursor: pointer;
  box-shadow: 0 0 20px 0px black;
}

.bag:hover {
  background: rgb(124, 124, 124);
}

.bag>.top {
  padding: 0.8rem 0.8rem 0 0.8rem;
}

.bag .items {
  color: #EEC65D;
  padding-bottom: 0.2rem;
}

.bag>.top img {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.bag .price {
  display: inherit;
  padding: 0.3rem;
  background: rgb(109, 109, 109);
  color: white;
  border-radius: 0 0 0.3rem 0.3rem;
}

.bag-details {
  width: 320px;
  border-left: 1px solid orange;
  border-radius: 0.4rem 0 0 0;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999999999;
}

.bag-details .items {
  overflow-y: auto;
  height: 400px;
}

.bag-details>p {
  border-radius: 0.4rem 0.4rem 0 0;
  padding: 0.5rem;
  background: orange;
  color: white;
  text-align: center;
}

.bag-body {
  background: white;
  position: relative;
  height: 450px;
}

.bag-body>i {
  position: absolute;
  top: -26px;
  right: 10px;
  color: white;
  cursor: pointer;
}

.bag-body .item {
  width: 100%;
  display: flex;
  color: #00000083;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(15, 15, 15, 0.158);
}

.bag-body .item i {
  cursor: pointer;
}

.bag-body .item img {
  width: 100%;
  height: 100%;
}

.bag-body .item .price {
  font-weight: bold;
}

.bag-body .item .item-details {
  font-weight: bold;
  font-size: 12px;
}

.bag-body .item .part-1 {
  width: 15%;
  height: 100%;
  text-align: center;
}

.bag-body .item .part-2 {
  width: 20%;
  height: 100%;
  display: inline-block;
  margin-right: 10px;
}

.bag-body .item .part-3 {
  width: 46%;
  height: 100%;
  margin-top: 2px;
}

.bag-body .item .part-4 {
  width: 15%;
  height: 100%;
}

.bag-body .item .part-4 p {
  margin-top: 18px;
}

.bag-body .item .part-5 {
  width: 10%;
  height: 100%;
}

.bag-body .item .part-5 i {
  margin-top: 20px;
  margin-left: 10px;
  color: red;
}

.bag-body .card-order-now {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  left: 15px;
  bottom: 10px;
  border-radius: 0.4rem;
  text-align: center;
  color: white;
  background: #27ae60;
  width: 90%;
  padding: 0.6rem;
}

.bag-body .card-order-now:hover {
  background: #258b50;
}

.foo {
  width: 200px;
  height: 200px;
  background: red;
  margin-left: 400px;
  margin-top: -200px;
  transition: all 1s ease;
}

.show {
  display: block;
}

.hide {
  display: none;
}